body{
  background-color: #8B4513;
}
* {
  padding: 0;
}

.container {
      width : 50%;
      margin : auto;
      height : 50%;
  }

}
.header{
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.viewAdd, .viewView, .FinalAdd {
  border-radius: 1.2em;
  border: 3px solid white;
  background-color: lightgrey;
  font-size: 1.2em;
  padding: 8px;
  margin: 5px;
}
.buttonsDiv {
margin-bottom: 100px;
}
.addRecipeDiv{
  background-color: lightgrey;
  width: 500px;
  height: 400px;
  padding: 25px;
  display: none;
}
.adding{
  text-align: center;
  background-color:#8B4513;
  border: 2px solid white;
  height: 400px;
}
.display{
  display: none;
}
.field {
    padding : 0.25em;
}

.field label {
    display: inline-block;
    width : auto;
    text-align: right;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
table {

    border: 2px solid black;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 20px;
    text-align: left;
}

th {
    text-align: left;
}

tr {
  background-color: white}

th {
    background-color: yellow;
    color: black;
}
